/* tags */
body {
  background-color: rgba(127, 255, 212, 0.431);
}

h1 {
  font-size: 30px !important;
}

/*th {
  text-align: left !important;
}*/

/* classes */
.date-read {
  border-style: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.edit-btn {
  opacity: 0;
  transition: opacity 0.2s ease;
  visibility: hidden;
}

.edit-wrapper:hover .edit-btn {
  opacity: 1;
  visibility: visible;
}

.table th {
  background-color: #c9eed0 !important;
}

.table td {
  background-color: #e4ffe9 !important;
}

/* ids*/
